{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global/partials/_head.html" %}
</head>
<body>
    {% include "global/partials/_header.html" %}

    <main class='content'>
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.all.min.js"></script>
    <script src="{% static "global/js/script.js" %}"></script>
</body>
</html>
