{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}} {{contact.last_name}}
        </h1>
        {% if contact.picture %}
            <p>
                <img src="{{contact.picture.url}}" alt="picture - {{contact.first_name}} {{contact.last_name}}" title="{{contact.first_name}} {{contact.last_name}}">
            </p>
        {% endif %}
        <p><b>ID:</b> {{contact.id}}</p>
        <p><b>E-mail:</b> {{contact.email}}</p>
        <p><b>Phone:</b> {{contact.phone}}</p>
        <p><b>Created Date:</b> {{contact.created_date}}</p>
        <p><b>Description:</b> {{contact.description}}</p>
        <p><b>Category:</b> {{contact.category.name}}</p>

        {% if user == contact.owner %}
            <div class="contact-links">
                <a class="btn2 btn-link" href="{% url "contact:update" contact.id %}">Update</a>

                <form data-js="form-delete" action="{% url "contact:delete" contact.id %}" method="POST">
                    {% csrf_token %}
                        <button data-js="btn-delete" class="btn2 btn-link btn-delete" type="button">Delete</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
