{% extends "global/base.html" %}

{% block content %}

    <div class="form-wrapper">
        <h2>Login</h2>

        {% if user.is_authenticated %}
          <p>
            Bem vindo {{user.first_name}} {{user.last_name}}.<br>
            Você fez login com o usuario {{user.username}}.<br>
            clique <a href="{% url "contact:logout" %}">aqui</a> para sair.
          </p>

        {% else %}
          {% include "contact/partials/_user-form.html" %}
        {% endif %}
    </div>

{% endblock content %}
