{% extends "global/base.html" %}

{% block content %}


    <div class="form-wrapper">
        <h2>Register</h2>
        {% include "contact/partials/_user-form.html" %}
    </div>

    

    {% comment %} script para o foco ficar no first name {% endcomment %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const firstNameInput = document.querySelector('input[name="first_name"]');
          if (firstNameInput) {
            firstNameInput.focus();
          }
        });
    </script>
{% endblock content %}
